<ul class="nav nav-tabs flex-column flex-md-row" id="tab-list" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link {{newest}}" href="/items/newest" role="tab" id="newest-tab" data-bs-toggle="tab"
            aria-controls="newest-pane" aria-selected="true">
            <h6>Newest</h6>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{oldest}}" href="/items/oldest" role="tab" id="oldest-tab" data-bs-toggle="tab"
            aria-controls="oldest-pane" aria-selected="false">
            <h6>Oldest</h6>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{tags}}" href="/items/tags" role="tab" id="tags-tab" data-bs-toggle="tab"
            aria-controls="tags-pane" aria-selected="false">
            <h6>Tags</h6>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{add}}" href="/items/add" role="tab" id="add-tab" data-bs-toggle="tab"
            aria-controls="add-pane" aria-selected="false">
            <h6>Add/edit</h6>
        </a>
    </li>
</ul>