<div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
    <div class="btn-group" role="group" aria-label="ToDo item actions">
        <button id="btn-remove" type="submit" form="form-item" formaction="/remove" class="btn btn-outline-secondary">
            <i class="fas fa-trash-alt"></i>
        </button>
        <button id="btn-edit" type="submit" form="form-item" formaction="/edit"  class="btn btn-outline-secondary">
            <i class="fas fa-edit"></i>
        </button>
    </div>
</div>